@import '../utilities/_variables.scss';


*,
::after,
::before {
  box-sizing: border-box;
}


.container-module {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  margin-top: 2rem;
  padding: 3rem;
  padding-top: 1.5rem;
  padding-bottom: 0;
  margin-top: 4rem;
  background-color: white;
  border-radius: $border-radius;
  box-shadow: $container-shadow;


  .headline-container {
    border-bottom: 0.1rem solid $input-border-color;
    width: 100%;
    top: 0;

    h1 {
      color: black;
      font-size: 2.5rem;
      font-weight: lighter;
      margin-top: 0;
      margin-bottom: 2rem;
    }

  }
}

.checkboxes {
  display: flex;
  align-self: flex-start;
  margin-top: 1.5rem;

  label {
    margin: 0 1rem 0 0;
  }

  input[type="radio"] {
    margin-right: 1rem;
    transform: scale(1.5);
  }
}


.hidden {
  display: none;
}

.label-email,
.label-phone {
  display: flex;
  align-items: center;

  .make-primary-btn {
    margin: 0;
    margin-left: 1rem;
    font-size: 0.9em;
    font-style: $main-font;
    text-transform: uppercase;
    color: $flat-green;
    transition: text-decoration 0.2s ease-in-out;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .primary-phone,
  .primary-email {
    background-color: $flat-blue;
    color: white;
    font-weight: bold;
    font-size: 0.93rem;
    border-radius: 2rem;
    text-align: center;
    padding: 0.3rem;
    letter-spacing: 0.1rem;
    margin-left: 1rem;
    padding: 0.5rem;

    &::before {
      content: "Primary";
    }
  }
}