@import '../utilities/_variables.scss';


.profile-balance-block {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 40rem;
    margin-right: 2rem !important;
}

@media screen and (max-width: 1306px) {
    .profile-balance-block {
        width: 100%;
        margin: 0;
    }
}