@import '../utilities/variables';


.dark-background {
  position: absolute;
  z-index: 10;
  opacity: 0.5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  transition: 1s;
}

#ExitSVG {
  position: relative;
  height: 1.8em;
  margin-top: 0.4em;
  transition: all 0.2s ease-in-out;
  opacity: 0.5;

  &:hover {
    cursor: pointer;
    transform: rotate(90deg);
    opacity: 1;
  }
}

.container-module {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
  width: $modal-width;
  height: $modal-height;
  top: 50%;
  left: 50%;
  margin-top: -$modal-height / 2;
  margin-left: -$modal-width / 2;
  padding: 30px;
  padding-top: 15px;
  padding-bottom: 0;
  background-color: white;
  border-radius: $border-radius;

  .headline-container {
    border-bottom: 1px solid $input-border-color;
    width: 100%;
    top: 0;

    h1 {
      color: black;
      font-size: 1.5em;
      font-weight: lighter;
      margin-top: 0;
      margin-bottom: 20px;
    }

    .exit {
      position: absolute;
      top: 15px;
      right: 15px;
      width: 55px;
    }
  }
}

.edit-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  li,
  label {
    display: block;
  }

  li {
    margin-top: 1rem;
    padding: 0;

    label {
      font-size: 0.8em;
      color: $input-font-color;
      margin-bottom: 10px;
    }
  }

  ul {
    padding: 0;
    width: 100%;

    select {
      border: $input-border-color 1px solid;
      border-radius: $border-radius;
      width: 100%;
      height: 60px;
      color: $input-font-color;
      transition: box-shadow ease-in-out 0.2s;
      outline: none;
      font-size: 1.2em;
      padding-left: 15px;

      &:focus {
        box-shadow: 1px 1px 4px 0px $save-button-color;
      }
    }

    input[type="text"],
    input[type="date"] {
      border: $input-border-color 1px solid;
      border-radius: $border-radius;
      width: 100%;
      height: 60px;
      color: $input-font-color;
      outline: none;
      transition: box-shadow ease-in-out 0.1s;
      font-size: 1.2em;
      padding-left: 15px;

      &:focus {
        box-shadow: 1px 1px 4px 0px $save-button-color;
      }
    }
  }

  #save-button {
    margin-top: 1.5rem;
    width: 100%;
    height: 65px;
    font-size: 1.2em;
    color: white;
    font-weight: 500;
    box-shadow: 1px 1px 7px 0px #c3c3c3;
    border-radius: $border-radius;
    border: none;
    cursor: pointer;
    background-color: $save-button-color;
  }

  #save-button {
    margin-right: 0.5rem;
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: lighten($save-button-color, 10%);
    }
  }
}
