@import '../utilities/_variables.scss';


*,
::after,
::before {
  box-sizing: border-box;
}

.close-icon {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  right: 0;
  transition: all 0.2s ease-in-out;
  opacity: 0.5;

  &:hover {
    cursor: pointer;
    transform: rotate(90deg);
    opacity: 1;
  }
}

.container-module {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  margin-top: 20px;
  padding: 30px;
  padding-top: 15px;
  padding-bottom: 0;
  margin-top: 40px;
  background-color: white;
  border-radius: $border-radius;
  box-shadow: $container-shadow;


  .headline-container {
    border-bottom: 1px solid $input-border-color;
    width: 100%;
    top: 0;

    h1 {
      color: black;
      font-size: 1.5em;
      font-weight: lighter;
      margin-top: 0;
      margin-bottom: 20px;
    }


  }
}

.exit {
  position: absolute;
  top: 5px;
  right: 5px;

  img {
    width: 48px;
    height: 48px;
    color: $close-icon;
  }
}

.edit-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;



  .confirm-btn {
    margin: 1.5rem 0 20px 0;
    width: 100%;
    height: 65px;
    font-size: 1.2em;
    color: white;
    font-weight: 500;
    box-shadow: 1px 1px 15px 0px #c3c3c3;
    border-radius: $border-radius;
    border: none;
    cursor: pointer;
    background-color: $dark-flat-green;
  }

  .confirm-btn {
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: lighten($dark-flat-green, 10%);
    }
  }
}

li,
label {
  display: block;
}

li {
  margin-top: 1rem;
  padding: 0;
}

label {
  display: inline-block;
  font-size: 1em;
  color: $input-labels;
  margin-bottom: 10px;
  text-align: left;
}

ul {
  padding: 0;
  width: 100%;

  select {
    border: $input-border-color 1px solid;
    border-radius: $border-radius;
    width: 100%;
    height: 60px;
    color: $input-font-color;
    transition: box-shadow ease-in-out 0.2s;
    outline: none;
    font-size: 1.2em;
    padding-left: 15px;

    &:focus {
      box-shadow: 1px 1px 4px 0px $dark-flat-green;
    }
  }


}

input[type="text"],
input[type="date"],
input[type="checkbox"],
input[type="password"] {
  border: $input-border-color 1px solid;
  border-radius: $border-radius;
  width: 100%;
  height: 60px;
  color: $input-font-color;
  outline: none;
  transition: box-shadow ease-in-out 0.1s;
  font-size: 1.4em;
  padding-left: 10px;

  &:focus {
    box-shadow: 1px 1px 4px 0px $dark-flat-green;
  }
}