@import '../utilities/_variables.scss';



.user-main-info {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-content: center;
    width: 50%;
    margin-left: 3rem;
}

@media screen and (max-width: 1306px) {
    .user-main-info {
        width: 100%;
        margin: 0;
        margin-top: 2rem !important;
    }
}