@import '../utilities/_variables.scss';



.user-main-info {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-content: center;
    width: 50%;
    margin: 2rem 0 0 3rem;
}

@media screen and (max-width: 1306px) {
    .user-main-info {
        width: 100%;
        margin: 2rem 0 0 0;
    }
}