@import '../utilities/_variables.scss';

$frame-width: 400px;
$frame-height: 400px;
$animation-duration: .6s;
$animation-delay: .3s;

.btn {
  width: 100%;
  height: 60px;
  background-color: transparent;
  font-weight: bold;
  transition: transform 0.6s ease-in-out;
  cursor: pointer;
  background-color: $dark-flat-green;
  outline: none;
  color: white;
  font-size: 35px;
  border: none;
  box-shadow: 1px 1px 4px 0px #505050;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: lighten($dark-flat-green, 15%);
  }

  a {
    text-decoration: none;
  }
}

.exit {
  position: absolute;
  top: 10px;
  right: 10px;

  .close-icon {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    right: 0;
    transition: all 0.2s ease-in-out;
    opacity: 0.5;

    &:hover {
      cursor: pointer;
      transform: rotate(90deg);
      opacity: 1;
    }
  }
}








.center {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;

  &:hover {
    cursor: pointer;
  }


  .line {
    width: 100%;
    height: 10px;
    margin: 10px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 2px 10px 0 #555;
  }

  .middleLine {
    animation: middleLineBack ($animation-duration + .2s);

    &.line-2-animate {
      animation: animateMiddleLine ($animation-duration - .4s);
      transform: scale(0);
    }
  }

  .upperLine {
    animation: upperLineBack $animation-duration;

    &.line-1-rotate {
      animation: animateUpperLine $animation-duration;
      transform: translateY(30px) rotate(45deg);
    }
  }

  .lowerLine {
    animation: lowerLineBack $animation-duration;

    &.line-3-rotate {
      animation: animateLowerLine $animation-duration;
      transform: translateY(-30px) rotateZ(135deg);
    }
  }
}


@keyframes animateUpperLine {

  0% {
    transform: translateY(0) rotateZ(0deg);

  }

  50% {
    transform: translateY(30px) rotateZ(0deg);
  }

  100% {
    transform: translateY(30px) rotateZ(45deg);
  }
}

@keyframes upperLineBack {
  0% {

    transform: translateY(30px) rotateZ(45deg);

  }

  50% {
    transform: translateY(30px) rotateZ(0deg);
  }

  100% {
    transform: translateY(0) rotateZ(0deg);
  }
}

@keyframes lowerLineBack {

  0% {

    transform: translateY(-30px) rotateZ(135deg);

  }

  50% {
    transform: translateY(-30px) rotateZ(0deg);
  }

  100% {
    transform: translateY(0) rotateZ(0deg);
  }
}

@keyframes animateLowerLine {

  0% {
    transform: translateY(0) rotateZ(0deg);

  }

  50% {
    transform: translateY(-30px) rotateZ(0deg);
  }

  100% {
    transform: translateY(-30px) rotateZ(135deg);
  }
}

@keyframes animateMiddleLine {

  0% {
    transform: scale(1);

  }

  100% {
    transform: scale(0);
  }
}

@keyframes middleLineBack {

  0% {
    transform: scale(0);

  }

  100% {
    transform: scale(1);
  }
}