@import '../utilities/_variables.scss';

.edit-form,
.log-in-form,
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;




    .confirm-btn {
        margin: 1.5rem 0 20px 0;
        width: 100%;
        height: 65px;
        font-size: 1.2em;
        color: white;
        font-weight: 500;
        box-shadow: 1px 1px 15px 0px #c3c3c3;
        border-radius: $border-radius;
        border: none;
        cursor: pointer;
        background-color: $dark-flat-green;
    }

    .confirm-btn {
        transition: all 0.2s ease-in-out;

        &:hover {
            background-color: lighten($dark-flat-green, 10%);
        }
    }
}


label {
    display: block;
    width: 100%;
}


label {
    display: inline-block;
    font-size: 1em;
    color: $input-labels;
    margin-bottom: 10px;
    text-align: left;
    margin-top: 10px;
    font-family: $main-font;
}

select {
    border: $input-border-color 1px solid;
    border-radius: $border-radius;
    width: 100%;
    height: 60px;
    color: $input-font-color;
    transition: box-shadow ease-in-out 0.2s;
    outline: none;
    font-size: 1.2em;
    padding-left: 15px;

    &:focus {
        box-shadow: 1px 1px 4px 0px $dark-flat-green;
    }

    &:disabled {
        color: $placeholder-color;
    }
}



input[type="text"],
input[type="date"],
input[type="password"],
input[type="number"],
textarea {
    border: $input-border-color 1px solid;
    border-radius: $border-radius;
    width: 100%;
    height: 60px;
    color: $input-font-color;
    outline: none;
    transition: box-shadow ease-in-out 0.1s;
    font-size: 1.4em;
    padding-left: 10px;
    margin-bottom: 20px;

    &:focus {
        box-shadow: 1px 1px 4px 0px $dark-flat-green;
    }

    &::placeholder {
        color: $placeholder-color;
    }
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin: 0;
    margin-right: 10px;

}

.slide-fade-enter-active {
    transition: all 0.2s ease-out;
}

.slide-fade-leave-active {
    transition: all 0.2s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
    transform: translateY(-50px);
    opacity: 0;
}