@import "./_variables.scss";



*,
::after,
::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}


html {
    font-size: 62.5%;
}


body {
    font-family: $main-font;
    font-size: $font-size;
    font-weight: 100;
    box-sizing: border-box;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2rem;
}