$input-font-color: #656565;
$flat-green: #2ecc71;
$save-button-color: #16a085;
$flat-red: #e74c3c;
$container-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
$flat-blue: #3498db;
$font-color: rgb(68, 68, 68);
$font-size: 20px;
$main-font: "Rubik",
sans-serif;
$modal-width: 700px;
$modal-height: 700px;
$input-border-color: #bdc3c7;
$input-labels: #656565;
$input-font-color: #9e9e9e;
$border-radius: 5px;
$backgroundColor: #f1f5f6;