/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

$font-size: 20px;
$main-font: "Rubik",
sans-serif;
$website-name-font: "Righteous",
cursive;


$modal-width: 700px;
$modal-height: 700px;

/* Colors */

$input-border-color: #bdc3c7;
$input-labels: #343a40;
$placeholder-color:#b8bec3;
$input-font-color:#343a40;
$border-radius: 5px;
$backgroundColor: #f1f5f6;
$flat-green: #2ecc71;
$dark-flat-green: #16a085;
$flat-red: #e74c3c;
$flat-blue: #3498db;
$font-color: rgb(68, 68, 68);
$close-icon: #bdc3c7;
$grey-label: #93a3a8;

/* Shadows */
$container-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
$container-shadow-error: 0 0.125rem 0.25rem red;


/* Social media*/

$twitter: #1da1f2;
$facebook: #1877f2;
$discord: #7289da;
$google: #ea4335;
$youtube: #ff0000;
$instagram: #c32aa3;